// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Brand colors
// -------------------------

$brand-primary:         #fdbe19;
$gold:					#fdbe19;
$yellow:				lighten($gold, 10%);

// Glyphicons path
// -------------------------

/* @import must be at top of file, otherwise CSS will not work */
@import "http://hello.myfonts.net/count/2b3466";	

$icon-font-path: "../vendor/bootstrap/fonts/";

.proxima {
	font-family: "proxima-nova", helvetica, arial, sans-serif;
	font-weight: 100;
}

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%); 
$gray-dark:              lighten($gray-base, 25%);  
$gray:                   lighten($gray-base, 50%); 
$gray-light:             lighten($gray-base, 92%); 
$gray-lighter:           lighten($gray-base, 96%); 

body {
	@extend .proxima;
}
  
@font-face {font-family: 'Ample-Bold';src: url('../fonts/2B3466_0_0.eot');src: url('../fonts/2B3466_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B3466_0_0.woff') format('woff'),url('../fonts/2B3466_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Ample-Regular';src: url('../fonts/2B3466_1_0.eot');src: url('../fonts/2B3466_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B3466_1_0.woff') format('woff'),url('../fonts/2B3466_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Ample-Light';src: url('../fonts/2B3466_2_0.eot');src: url('../fonts/2B3466_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2B3466_2_0.woff') format('woff'),url('../fonts/2B3466_2_0.ttf') format('truetype');}
 
.Ample-Bold { 
	font-family: Ample-Bold !important;
	font-weight: normal;
	font-style: normal;
}
.Ample-Regular { 
	font-family: Ample-Regular !important;
	font-weight: normal;
	font-style: normal;
}
.Ample-Light { 
	font-family: Ample-Light !important;
	font-weight: normal;
	font-style: normal;
}

$headings-font-family: Ample-Bold;
$font-family-sans-serif: "proxima-nova", helvetica, arial, sans-serif;

h1 {
	@extend .Ample-Bold;
	text-transform: uppercase;
	font-size: 40px;
}

h2, h3 {
	@extend .Ample-Light;
}

a {
	color: $gold;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	
	&:hover {
		text-decoration: none;
		color: $yellow;
	}
}

.inner {
	@extend .container;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.twinkling {
  background:transparent url(/assets/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@font-face {
  font-family: 'fontello';
  src: url('/assets/fonts/fontello.eot?56455820');
  src: url('/assets/fonts/fontello.eot?56455820#iefix') format('embedded-opentype'),
       url('/assets/fonts/fontello.woff?56455820') format('woff'),
       url('/assets/fonts/fontello.ttf?56455820') format('truetype'),
       url('/assets/fonts/fontello.svg?56455820#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56455820#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-location:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */